h1{
    padding-top: 30px;
    text-align: center;
    color:rgb(128, 0, 255);
}
form{
    text-align: center;
    padding-top: 30px;
    color:rgb(91, 91, 86);
    font-weight: bold;
}
form{
    text-align: center;
    padding-top: 30px;
    color:rgb(91, 91, 86);
    font-weight: bold;
}
form input{
    margin-left: 14px;
    margin-right:5px;
    border-radius: 5px;
    border-color: blueviolet;
    color:blueviolet;
}
textarea{
    border-radius: 5px;
    border-color: blueviolet;
    color:blueviolet;
    border:2px solid ;

}
form div{
    font-size: 0.8em;
}