.info {
    position: relative;
    width:100%;
    text-align: center;
    font-size: 2.4em;
    font-family:fantasy;
    color:cadetblue;
    padding-top: 70px;

}
p{
    padding-bottom: 10px;
}
.info a{
    margin-top:10px;
    text-decoration: none;
    color:cadetblue;
    font-family:monospace;
    font-size: 0.8em;
}
a:hover{
    text-decoration:underline !important;
}


